<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.com.labuena.bikedriver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".setup.LaBuenaApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />


        <activity
            android:name=".views.activities.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.BikerMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.BikerInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".services.BikerUpdateIntentService"
            android:exported="false" />

        <service
            android:name=".services.FetchAddressIntentService"
            android:exported="false" />

        <service
            android:name=".services.OrderUpdateIntentService"
            android:exported="false" />

        <service
            android:name=".services.BikerLocationUpdateJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <provider
            android:name=".data.BikeDriverProvider"
            android:authorities="mx.com.labuena.bikedriver"></provider>
    </application>
</manifest>
